@model dorknozzle.Models.Pracownicy

@{
    ViewBag.Title = "Usuń pracownika";
    Layout = "~/Views/Shared/_LayoutDorknozzle.cshtml";
}

<h3>Czy na pewno usunąć pracownika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dzialy.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dzialy.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-warning" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
