@model dorknozzle.Models.Pracownicy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDorknozzle.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pracownicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dzialy.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dzialy.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonDomowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonDomowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonKomorkowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonKomorkowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Newsletter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Newsletter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PracownicyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
